<!doctype html>
<html class="no-js" lang="en" dir="ltr">
   <%- include components/head.ejs %>
    <body>
        <%- include components/menu.ejs %>
        
        <%- include components/message-area %>
        
        <section>
            <div class="row">
                <div class="small-12 medium-12 large-9 columns">
                    <h2>About Us <small>The <em>Mission</em> is there is no mission</small></h2>
                    
                </div>
            </div>
        </section>
        
        <%- include components/general-revealer.ejs %>

        <%- include components/foundation-setup.ejs %>
    </body>
</html>
