<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <%- include components/head.ejs %>
    <body>
        <%- include components/menu.ejs %>
        
        <%- include components/message-area %>
        
        <section class="">
            <div class="row">
                <div class="small-12 medium-6 large-5 columns">
                    <h2 class="small-12 medium-12 large-12 columns">Et quis purus <small>Dolore reprehenderit nam</small></h2>
                    <p id="main-par" class="lead v-scroll paragraph small-12 columns">
                        Ligula curabitur ipsum. A conubia placerat. Mi tellus condimentum mauris sit fames. Hendrerit maecenas leo.
                        Mauris dis nibh amet pellentesque in risus amet diam quam sed et. Ante quis mi sodales vel sed. Sociis ante id. Sapien dui non vitae ornare risus viverra in leo.
                        Tempor quam sit dignissim sollicitudin nulla. Egestas risus amet consectetuer tellus vivamus.
                        Nullam erat sed tellus velit nulla dictum cras fermentum. In sed fugit. Magna est pretium sit vehicula morbi eget nunc at.
                        Molestie venenatis justo. Habitant sit vestibulum. Sed a turpis sem mattis justo. Elit blandit tellus. Tristique varius dignissim vitae donec mauris.
                        Lorem vel wisi congue odio a. Curabitur tortor hendrerit pharetra morbi pharetra faucibus mi a amet volutpat duis in senectus varius.
                    </p>
                </div>
                                
                <div class="small-12 medium-6 large-5 columns">
                    <h2 class="subheader small-12 medium-12 large-12 columns">Lorem ipsum dolor <small>Sit amet rhoncus habitant interdum tincidunt</small></h2>
                    <p class="v-scroll paragraph small-12 columns">
                       Pretium arcu natoque at totam pellentesque at tempus aenean. Felis sed iaculis. In pretium ipsum sit feugiat suscipit mus natoque ipsum adipiscing ullamcorper aliquet. Ipsum morbi vitae. Potenti sed mauris. Nonummy mauris ullamcorper. Netus sed sodales diam non quis fermentum lacus etiam. Aenean et nisl elit vestibulum in dolor arcu molestie. Deserunt risus turpis. Quam leo malesuada. Elit massa mauris. Urna curabitur ullamcorper. Vitae imperdiet integer nec vitae nec et mauris amet ut rhoncus nulla mi urna ut duis in odio. Sed quisque dignissim a nascetur duis adipisci nunc in. Sodales cras urna. Molestie dolor ultricies euismod dignissim hymenaeos. Vestibulum eu lobortis.
                    </p>
                </div>
            </div>
        </section>
        
        <%- include components/general-revealer.ejs %>

        <%- include components/foundation-setup.ejs %>        
    </body>
</html>
